.flexbox {
  display: flex;
  overflow: hidden;
}

.mycard {
  width: 33.33%;
  margin: 25px;
  background-color: #2C74B3;
  color: white;
  border: solid 5px #0A2647;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.flexbox0 {
  display: flex;
}

.addbtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  padding: 20px 25px;
  border: 3px solid #000;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .flexbox {
    display: block;
  }
  .mycard {
    width: 90%;
    margin-left: 25px;
  }
}